## Ignore Automation Studio temporary files.

# Automation Studio
# *.set is also used in safety-projects
/*.set
# DLFiles ausschliessen
DLFiles/

# =========================
# Hebt globale ignore auf
# =========================

!user.user

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
